---
---

@import "{{ site.theme }}";

.container {
    margin: 0 auto;
    max-width: 1000px;
    padding: 0 10px;
    width: 100%;
  }

.wrapper-footer {
    margin-top: 50px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #A9A9A9;
  }


@import "svg-icons"